In [ ]:
from project_lib import Project
project = Project(project_id='06f49202-4489-470e-bfb5-1700da2bffa6', project_access_token='p-6b7f03e3905bc15e328e5eef8df43dac155ed8e4')
pc = project.project_context

# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
import requests
from pandas import DataFrame
from tabulate import tabulate
from bs4 import BeautifulSoup

df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [ ]:
df.columns = ['Postcode','Borough','Neighbourhood']
df.head()

   Postcode       Borough     Neighbourhood
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [ ]:
#Delete the first row with index 0

df1 = df.drop(df.index[0])
df1.head()

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [ ]:
df2 = df1[df1.Borough != 'Not assigned']
df2.head()

  Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

In [ ]:
pd.options.mode.chained_assignment = None

df2.Neighbourhood[df2.Neighbourhood == "Not assigned"] = df2.Borough

df2.head(10)

   Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

In [ ]:
df3 = df2.groupby(['Postcode','Borough'])['Neighbourhood'].agg(lambda x: tuple(x)).reset_index()
df3.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                          (Rouge, Malvern)
1      M1C  Scarborough  (Highland Creek, Rouge Hill, Port Union)
2      M1E  Scarborough       (Guildwood, Morningside, West Hill)
3      M1G  Scarborough                                 (Woburn,)
4      M1H  Scarborough                              (Cedarbrae,)

In [ ]:
df3 = df2.groupby(['Postcode','Borough'])['Neighbourhood'].agg(lambda x: tuple(x)).reset_index()
df3.head(11)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                   (Rouge, Malvern)
1       M1C  Scarborough           (Highland Creek, Rouge Hill, Port Union)
2       M1E  Scarborough                (Guildwood, Morningside, West Hill)
3       M1G  Scarborough                                          (Woburn,)
4       M1H  Scarborough                                       (Cedarbrae,)
5       M1J  Scarborough                             (Scarborough Village,)
6       M1K  Scarborough      (East Birchmount Park, Ionview, Kennedy Park)
7       M1L  Scarborough                  (Clairlea, Golden Mile, Oakridge)
8       M1M  Scarborough  (Cliffcrest, Cliffside, Scarborough Village West)
9       M1N  Scarborough                      (Birch Cliff, Cliffside West)
10      M1P  Scarborough  (Dorset Park, Scarborough Town Centre, Wexford...

In [ ]:
Geospatial_data = pd.read_csv('http://cocl.us/Geospatial_data')
Geospatial_data.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
Geospatial_data.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [ ]:
df3.shape

(103, 3)

In [ ]:
Toronto_df_with_coordinates = pd.merge(df3, Geospatial_data, how='inner', on = 'Postcode')
Toronto_df_with_coordinates.head(11)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"(Rouge, Malvern)",43.806686,-79.194353
1,M1C,Scarborough,"(Highland Creek, Rouge Hill, Port Union)",43.784535,-79.160497
2,M1E,Scarborough,"(Guildwood, Morningside, West Hill)",43.763573,-79.188711
3,M1G,Scarborough,"(Woburn,)",43.770992,-79.216917
4,M1H,Scarborough,"(Cedarbrae,)",43.773136,-79.239476
5,M1J,Scarborough,"(Scarborough Village,)",43.744734,-79.239476
6,M1K,Scarborough,"(East Birchmount Park, Ionview, Kennedy Park)",43.727929,-79.262029
7,M1L,Scarborough,"(Clairlea, Golden Mile, Oakridge)",43.711112,-79.284577
8,M1M,Scarborough,"(Cliffcrest, Cliffside, Scarborough Village West)",43.716316,-79.239476
9,M1N,Scarborough,"(Birch Cliff, Cliffside West)",43.692657,-79.264848
10,M1P,Scarborough,"(Dorset Park, Scarborough Town Centre, Wexford...",43.757410,-79.273304